* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: Arial, Helvetica, sans-serif; }

a {
  color: #333;
  text-decoration: none; }

.container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto; }

.app {
  position: relative; }

/*
.app {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.menuPlaceholder {
  position: relative;
  top: 0;
  left: 0;
  width: $menuIconWidth;
  height: 100%;
}
*/
.menu, .menuPlaceholder {
  width: 100%;
  height: 80px; }

.menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #168ae3;
  z-index: 50; }
  .menu .darken {
    display: none; }
  .menu .container {
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    height: 80px; }
  .menu .left {
    display: flex;
    justify-content: flex-start; }
    .menu .left .logo__desktop {
      cursor: pointer;
      height: 80px;
      width: 80px;
      padding: 13px;
      object-fit: contain;
      display: block; }
  .menu .right {
    display: flex;
    justify-content: flex-end; }
  .menu .menuItem {
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 15px; }
    .menu .menuItem .button {
      display: block;
      width: 30px;
      height: 30px; }
      .menu .menuItem .button img {
        width: 100%;
        height: 100%;
        filter: invert(100%); }
    .menu .menuItem .name {
      font-size: 24px; }
    .menu .menuItem#menuItem--burger {
      display: none; }
  .menu .logo__mobile {
    display: none; }
  @media (max-width: 900px) {
    .menu .darken {
      z-index: 51;
      position: fixed;
      width: 100%;
      height: 100%; }
    .menu .container {
      width: 250px; }
    .menu.menu--open .darken {
      background-color: rgba(0, 0, 0, 0.4);
      display: block; }
    .menu.menu--open .container {
      left: 0; }
    .menu.menu--closed .darken {
      background-color: rgba(0, 0, 0, 0);
      display: none; }
    .menu.menu--closed .container {
      left: -250px; }
    .menu .menuItem {
      margin: 0 40px; }
      .menu .menuItem#menuItem--burger {
        display: flex;
        width: 80px;
        margin: 0; }
        .menu .menuItem#menuItem--burger .button {
          width: 70%;
          height: 70%; }
    .menu .logo__mobile {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
      padding: 13px; }
    .menu .container {
      background-color: #168ae3;
      flex-direction: column;
      position: fixed;
      top: 0;
      height: 100%;
      z-index: 52; }
    .menu .left, .menu .right {
      flex-direction: column; }
      .menu .left .logo__desktop, .menu .right .logo__desktop {
        display: none; } }

/*
.menu {
  position: fixed;
  width: auto;
  height: 100%;

  .darken {
    transition: $transitionDuration;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .left {
    transition: $transitionDuration;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: white;
    border-right: 1px solid black;

    .menuItem {
      position: relative;
      width: $menuLeftWidth;
      height: $menuIconWidth;
      display: grid;
      grid-template-columns: $menuIconWidth 1fr;
      grid-auto-rows: $menuIconWidth;
      cursor: pointer;

      .button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        border-right: 1px solid black;

        img {
          box-sizing: content-box;
          width: $menuIconWidth*0.6;
          height: $menuIconWidth*0.6;
        }
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        top: 100%;
        background-color: black;
      }
    }
  }

  &.menu--open {
    .darken {
      background-color: rgba(0, 0, 0, 0.4);
    }
    .left {
      width: $menuLeftWidth;
    }

    [name="burger"] {
      transition: $transitionDuration;
      transform: rotate(180deg);
    }
  }

  &.menu--closed {
    .darken {
      background-color: rgba(0, 0, 0, 0);
      display: none; //bad, no transition when closing menu
    }
    .left {
      width: $menuIconWidth;
    }

    [name="burger"] {
      transition: $transitionDuration;
      transform: rotate(0deg);
    }
  }
}

.wordInput {
  width: 100%;

  border: 1px solid black;
  //background-color: $wordBackgroundColor;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px 50px;

  input {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  div {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.setEditor {
  .set {
    margin-top: 50px;
  }
}
*/
.word {
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px 50px;
  border-top: 1px solid black; }
  .word input {
    font-size: 1.25rem;
    background-color: #fff;
    border: none;
    border-right: 1px solid black;
    min-width: 10px; }
    .word input:nth-child(2) {
      border-left: 1px solid black; }
  .word .button,
  .word .word__word,
  .word .word__translation {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
  .word .removalQuestion {
    grid-column: span 2;
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.translation {
  grid-column: span 4; }
  .translation input {
    border: 1px solid black;
    border-left: none; }

.settings .from, .settings .to {
  width: 200px;
  height: 300px;
  overflow: scroll; }
  .settings .from .option, .settings .to .option {
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer; }

.button {
  cursor: pointer; }

.viewer .word__word, .viewer .word__translation {
  transition: .2s; }

.viewer.--hideWords .word__word {
  opacity: 0; }

.viewer.--hideTranslations .word__translation {
  opacity: 0; }

.viewerSettings {
  margin: 20px; }
  .viewerSettings label {
    width: 50%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black; }

.setWrapper {
  margin: 30px;
  border: 2px solid black; }
  .setWrapper .upperPanel {
    display: flex;
    justify-content: space-between; }
  .setWrapper .progressBar {
    /*
    .checked {
      background-color: $primary;
    }
    .unchecked {
      background-color: gray;
    }
    */ }
    .setWrapper .progressBar .item {
      display: inline-block;
      vertical-align: bottom;
      width: 30px;
      height: 30px;
      position: relative; }
      .setWrapper .progressBar .item::after {
        content: "";
        display: block;
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: #168ae3;
        border-radius: 100px;
        border: 1px solid #168ae3;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%; }
    .setWrapper .progressBar .unchecked::after {
      background-color: white; }
    .setWrapper .progressBar .progress {
      display: inline-flex;
      align-items: center;
      height: 91%;
      margin-left: 10px; }
  .setWrapper .buttons {
    display: flex; }
    .setWrapper .buttons .button {
      position: relative;
      height: 30px; }
      .setWrapper .buttons .button img {
        position: relative;
        height: 100%;
        width: auto; }
