* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: Arial, Helvetica, sans-serif; }

a {
  color: #333;
  text-decoration: none; }

.container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto; }

.app {
  position: relative; }

/*
.app {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.menuPlaceholder {
  position: relative;
  top: 0;
  left: 0;
  width: $menuIconWidth;
  height: 100%;
}
*/
.menu, .menuPlaceholder {
  width: 100%;
  height: 80px; }

.menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #168AE3; }
  .menu .darken {
    display: none; }
  .menu .container {
    display: flex;
    justify-content: space-between; }
  .menu .left {
    display: flex;
    justify-content: flex-start; }
  .menu .right {
    display: flex;
    justify-content: flex-end; }
  .menu .menuItem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 15px; }
    .menu .menuItem .button {
      display: block;
      width: 30px;
      height: 30px; }
      .menu .menuItem .button img {
        width: 30px;
        height: 30px;
        filter: invert(100%); }
    .menu .menuItem .name {
      font-size: 24px; }
    .menu .menuItem#menuItem--burger {
      display: none; }

/*
.menu {
  position: fixed;
  width: auto;
  height: 100%;

  .darken {
    transition: $transitionDuration;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .left {
    transition: $transitionDuration;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: white;
    border-right: 1px solid black;

    .menuItem {
      position: relative;
      width: $menuLeftWidth;
      height: $menuIconWidth;
      display: grid;
      grid-template-columns: $menuIconWidth 1fr;
      grid-auto-rows: $menuIconWidth;
      cursor: pointer;

      .button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        border-right: 1px solid black;

        img {
          box-sizing: content-box;
          width: $menuIconWidth*0.6;
          height: $menuIconWidth*0.6;
        }
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        top: 100%;
        background-color: black;
      }
    }
  }

  &.menu--open {
    .darken {
      background-color: rgba(0, 0, 0, 0.4);
    }
    .left {
      width: $menuLeftWidth;
    }

    [name="burger"] {
      transition: $transitionDuration;
      transform: rotate(180deg);
    }
  }

  &.menu--closed {
    .darken {
      background-color: rgba(0, 0, 0, 0);
      display: none; //bad, no transition when closing menu
    }
    .left {
      width: $menuIconWidth;
    }

    [name="burger"] {
      transition: $transitionDuration;
      transform: rotate(0deg);
    }
  }
}
*/
.wordInput {
  width: 100%;
  border: 1px solid black;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px 50px; }
  .wordInput input {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }
  .wordInput div {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.setEditor .set {
  margin-top: 50px; }

.word {
  border: 1px solid black;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px 50px; }
  .word .button,
  .word .word__word,
  .word .word__translation {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
  .word .removalQuestion {
    grid-column: span 2;
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.translation {
  grid-column: span 4; }

.settings .from, .settings .to {
  width: 200px;
  height: 300px;
  overflow: scroll; }
  .settings .from .option, .settings .to .option {
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer; }

.button {
  cursor: pointer; }

.viewer .word__word, .viewer .word__translation {
  transition: .2s; }

.viewer.--hideWords .word__word {
  opacity: 0; }

.viewer.--hideTranslations .word__translation {
  opacity: 0; }

.viewerSettings label {
  width: 50%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black; }

.setWrapper {
  margin: 20px;
  border: 1px solid black; }
  .setWrapper .upperPanel {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .setWrapper .upperPanel span {
      vertical-align: text-bottom; }
  .setWrapper .progressBar div {
    display: inline-block;
    vertical-align: bottom;
    width: 30px;
    height: 30px; }
  .setWrapper .progressBar .checked {
    background-color: green; }
  .setWrapper .progressBar .unchecked {
    background-color: gray; }
  .setWrapper .buttons {
    display: flex; }
    .setWrapper .buttons .button {
      position: relative;
      height: 30px; }
      .setWrapper .buttons .button img {
        position: relative;
        height: 100%;
        width: auto; }
