* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4; }

a {
  color: #333;
  text-decoration: none; }

.app {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh; }

.menuPlaceholder {
  position: relative;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%; }

.menu {
  position: fixed;
  width: auto;
  height: 100%; }
  .menu .darken {
    transition: 0.2s;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black; }
  .menu .left {
    transition: 0.2s;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: white; }
    .menu .left .menuItem {
      position: relative;
      width: 400px;
      height: 60px;
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-auto-rows: 60px;
      cursor: pointer; }
      .menu .left .menuItem .imageContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid black; }
        .menu .left .menuItem .imageContainer img {
          box-sizing: content-box;
          width: 30px;
          height: 30px; }
      .menu .left .menuItem span {
        display: flex;
        justify-content: center;
        align-items: center; }
      .menu .left .menuItem::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        top: 100%;
        background-color: black; }
  .menu.menu--open .darken {
    opacity: .4; }
  .menu.menu--open .left {
    width: 400px; }
  .menu.menu--open [src="img/burger.png"] {
    transition: 0.2s;
    transform: rotate(90deg); }
  .menu.menu--closed .darken {
    opacity: 0;
    display: none; }
  .menu.menu--closed .left {
    width: 60px; }
  .menu.menu--closed [src="img/burger.png"] {
    transition: 0.2s;
    transform: rotate(0deg); }

.wordInput {
  width: 100%; }
  .wordInput input {
    width: 50%;
    height: 2rem;
    font-size: 1.5rem; }
  .wordInput button {
    margin-top: 10px;
    padding: 5px;
    width: 100px; }

.set {
  margin-top: 50px; }

.word {
  border: 1px solid black;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 1fr 50px 50px; }
  .word div {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
  .word .yes, .word .no, .word .edit {
    cursor: pointer; }
  .word .yes {
    background-color: #00ff00; }
  .word .no {
    background-color: #ff0000; }
  .word .edit {
    background-color: #0000ff; }
