* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4; }

a {
  color: #333;
  text-decoration: none; }

.app {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh; }

.menuPlaceholder {
  position: relative;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%; }

.menu {
  position: fixed;
  width: auto;
  height: 100%; }
  .menu .darken {
    transition: 0.2s;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black; }
  .menu .left {
    transition: 0.2s;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: white;
    border-right: 1px solid black; }
    .menu .left .menuItem {
      position: relative;
      width: 400px;
      height: 60px;
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-auto-rows: 60px;
      cursor: pointer; }
      .menu .left .menuItem .button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid black; }
        .menu .left .menuItem .button img {
          box-sizing: content-box;
          width: 36px;
          height: 36px; }
      .menu .left .menuItem span {
        display: flex;
        justify-content: center;
        align-items: center; }
      .menu .left .menuItem::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        top: 100%;
        background-color: black; }
  .menu.menu--open .darken {
    background-color: rgba(0, 0, 0, 0.4); }
  .menu.menu--open .left {
    width: 400px; }
  .menu.menu--open [name="burger"] {
    transition: 0.2s;
    transform: rotate(180deg); }
  .menu.menu--closed .darken {
    background-color: rgba(0, 0, 0, 0);
    display: none; }
  .menu.menu--closed .left {
    width: 60px; }
  .menu.menu--closed [name="burger"] {
    transition: 0.2s;
    transform: rotate(0deg); }

.wordInput {
  width: 100%;
  border: 1px solid black;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px 50px; }
  .wordInput input {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }
  .wordInput div {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.setEditor .set {
  margin-top: 50px; }

.word {
  border: 1px solid black;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px 50px; }
  .word .button,
  .word .word__word,
  .word .word__translation {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.translation {
  grid-column: span 4; }

.settings .from, .settings .to {
  width: 200px;
  height: 300px;
  overflow: scroll; }
  .settings .from .option, .settings .to .option {
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer; }

.button {
  cursor: pointer; }

.viewer .word__word, .viewer .word__translation {
  transition: .2s; }

.viewer.--hideWords .word__word {
  opacity: 0; }

.viewer.--hideTranslations .word__translation {
  opacity: 0; }

.viewerSettings label {
  width: 50%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black; }

.setWrapper {
  margin: 20px;
  border: 1px solid black; }
  .setWrapper .upperPanel {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .setWrapper .upperPanel span {
      vertical-align: text-bottom; }
  .setWrapper .progressBar div {
    display: inline-block;
    vertical-align: bottom;
    width: 30px;
    height: 30px; }
  .setWrapper .progressBar .checked {
    background-color: green; }
  .setWrapper .progressBar .unchecked {
    background-color: gray; }
  .setWrapper .buttons {
    display: flex; }
    .setWrapper .buttons .button {
      position: relative;
      height: 30px; }
      .setWrapper .buttons .button img {
        position: relative;
        height: 100%;
        width: auto; }
